* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  height: 600px;
  max-width: 1800px;
  border-radius: 5px;
}
.box-container {
  display: grid;
  padding: 20px;
  gap: 30px;
  grid-template: auto auto / repeat(5, 1fr);
  /* grid-template: 120px 120px / 120px 120px 120px 120px 120px; */
}
.box {
  height: 100px;
  width: 100px;
  /* background-color: white; */
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.die-num {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.roll-dice-btn {
  /* grid-column-start: 2;
  grid-column-start: 3; */
  padding: 20px;
  background-color: #5035ff;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.roll-dice-btn:focus {
  outline: none;
}
.roll-dice-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
