* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  height: 600px;
  max-width: 1800px;
  border-radius: 5px;
}
.box-container {
  display: grid;
  padding: 20px;
  gap: 30px;
  grid-template: auto auto / repeat(5, 1fr);
  /* grid-template: 120px 120px / 120px 120px 120px 120px 120px; */
}
.box {
  position: relative;
  height: 100px;
  width: 100px;
  /* background-color: white; */
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* die dots style */
.die--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--center-left {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateX(10%) translateY(-50%);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--center-right {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateX(-10%) translateY(-50%);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--top-left {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translateX(0) translateY(0);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--top-right {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translateX(0) translateY(0);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--top-center {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translateX(0) translateY(0);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--bottom-right {
  position: absolute;
  bottom: 10%;
  right: 10%;
  transform: translateX(0) translateY(0);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die--bottom-left {
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translateX(0) translateY(0);
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.die-num {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.roll-dice-btn {
  /* grid-column-start: 2;
  grid-column-start: 3; */
  padding: 20px;
  background-color: #5035ff;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.roll-dice-btn:focus {
  outline: none;
}
.roll-dice-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.title {
  font-size: 60px;
  margin: 0;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.instructions {
  margin-top: 0;
  font-size: 20px;
}
